[Desktop Entry]
Version=1.0
Type=Application
Name=ProcStudio PDF
Comment=Suite de ferramentas PDF para editar, converter e manipular documentos
Exec=/usr/bin/procstudio-pdf
Icon={{icon}}
Terminal=false
MimeType=application/pdf;
Categories=Office;Graphics;Utility;
Actions=open-file;

[Desktop Action open-file]
Name=Abrir arquivo PDF
Exec=/usr/bin/procstudio-pdf %F
